@import '~antd/dist/antd.css';


.slider {
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.slider .inner {
  width: 300%;
  overflow: scroll;
  transition: transform .3s ease;
}
.slider .inner::-webkit-scrollbar {
  display: none;
}

.slider .inner img {
  width: 33.33%;
  display: block;
  height: 250px;
  float: left;
}

.mr-2 {
  margin-right: 16px;
}
.mt-4 {
  margin-top: 32px;
}

.demo {
  max-width: 600px;
  margin: auto;
}